* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #0b1220;
  color: white;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
  align-items: center;
}

.navbar a {
  margin: 0 15px;
  color: #ccc;
  text-decoration: none;
}

.navbar a:hover {
  color: #7a6cff;
}

.logo {
  font-weight: bold;
  font-size: 20px;
}

/* Buttons */
.btn {
  padding: 10px 20px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
}

.primary {
  background: #7a6cff;
  color: white;
}

.secondary {
  background: transparent;
  border: 1px solid #7a6cff;
  color: #7a6cff;
}

.subscribe {
  background: #2bd576;
  color: black;
}

/* Hero */
.hero {
  display: flex;
  justify-content: space-between;
  padding: 80px 60px;
}

.hero-left {
  max-width: 50%;
}

.hero-left h1 span {
  color: #7a6cff;
}

.stats {
  display: flex;
  gap: 40px;
  margin: 30px 0;
}

.stats strong {
  font-size: 26px;
}

.hero-right img {
  width: 320px;
  border-radius: 20px;
}

/* About */
.about {
  display: flex;
  padding: 80px 60px;
  background: #0f1a2e;
}

.about-img img {
  width: 250px;
  border-radius: 50%;
}

.about-text {
  margin-left: 60px;
}

.about-text span {
  color: #7a6cff;
}

.about-text p {
  margin: 20px 0;
  color: #ccc;
}
