/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* PAGE SETUP */
html, body {
    width: 100%;
    height: 100%;

}

/* OUTER PAGE (TOP & BOTTOM GAP) */
.page {
    min-height: 100vh;
    padding: 40px 0;        /* gap top & bottom */
    background: #f4f4f4;
}

/* RESUME LAYOUT */
.resume {
    width: 100%;
    max-width: 1200px;
    height: calc(100vh - 80px);
    display: flex;
    background: #ffffff;
    margin: auto;

}

/* LEFT SIDEBAR */
.sidebar {
    width: 30%;
    background: #1f2933;
    color: #ffffff;
    padding: 25px;
}

.sidebar h2 {
    font-size: 18px;
    margin-bottom: 10px;
    border-bottom: 1px solid #555;
    padding-bottom: 5px;
}

.sidebar p,
.sidebar li {
    font-size: 16px;
    margin-bottom: 10px;
}

.sidebar ul {
    list-style: none;
}

.sidebar a {
    color: #9cd1ff;
    text-decoration: none;
}

/* RIGHT CONTENT */
.content {
    width: 70%;
    padding: 30px;
}

.content h1 {
    font-size: 32px;
}

.content h3 {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}

.content h2 {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #1f2933;
}

.content p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 10px;
}

.date {
    font-size: 14px;
    color: #666;
}
